<h1>Cronologia Bíblia</h1>

<div class="timeline">
  <div class="line">
    <% -4100.upto(2200) do |number| %>
      <% if number % 200 == 0 %>
        <span class="year"><%= EventDate.new(year: number, precision: 'precise') %></span>
      <% end %>
    <% end %>
  </div>
  <br>

  <div class="events">
    <% @timeline.each do |event| %>
      <% event = EventDecorator.new(event) %>
      <div class="event <%= event.css_classes %>" style="<%= event.inline_css  %>" title="<%= event.to_s %>">
        <%= event.name  %>
      </div>
    <% end %>
  </div>
</div>
