<h1>Cronologia Bíblia</h1>

<div class="timeline">
  <div class="line">
    <% -4100.upto(2200) do |number| %>
      <% if number % 200 == 0 %>
        <span class="year"><%= EventDate.new(year: number, precision: 'precise') %></span>
      <% end %>
    <% end %>
  </div>
  <br>

  <div class="events">
    <% @timeline.each do |event| %>
      <% event = EventDecorator.new(event) %>
      <div data-toggle="tooltip"
           data-placement="bottom"
           data-html="true"
           class="event <%= event.css_classes %>"
           style="<%= event.inline_css  %>"
           title="<%= render partial: 'event_tooltip', locals: { event: event } %>">
          <% if event.lengthy? %>
            <div><%= event.name %></div>
          <% else %>
            <div><small><%= event.from %></small> - <%= event.name %></div>
          <% end %>
      </div>
    <% end %>
  </div>
</div>
