<!DOCTYPE html>
<html>
  <head>
    <title>Cronologia</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="top-menu">
      <a href="/">Tabela</a>
      <a href="/timeline">Linha do Tempo</a>
      <a href="https://github.com/mjacobus/cronologia" target="blank">Contribua</a>
    </div>

    <%= yield %>
  </body>
</html>
