<!DOCTYPE html>
<html>
  <head>
    <title>Cronologia</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <%= yield %>
        </div>
      </div><!--/row-->
    </div> <!-- /container -->

    <hr>
    <p><a href="https://github.com/mjacobus/cronologia" target="blank">Contribua</a></p>
  </body>
</html>
